body {
    width: 594px;
}

.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.popup_wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
}


.title_wrap {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 26px;
    font-weight: bold;
    font-family: Merriweather, 'Source Sans Pro';
}

.close_btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 28px;
    height: 28px;
    background: url('/assets/img/close.png') no-repeat center;
    background-size: contain;
}


.loading {
    display: flex;
    height: 337px;
    align-items: center;
    justify-content: center;
    color: rgb(121, 122, 137);
}

.text:before {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 15px;
    background: url('/assets/img/loading.gif') no-repeat center;
    background-size: cover;
    content: '';
}

.select_title {
    margin-top: 24px;
    font-size: 12px;
    color: rgb(121, 122, 137);
    font-weight: 500;
    font-family: IBM Plex Sans, 'Source Sans Pro';
}

.list_set {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.list {
    position: relative;
    font-size: 12px;
    color: #1f223d;
    height: 20px;
    font-family: IBM Plex Sans, 'Source Sans Pro';
}

.list:nth-child(n+4) {
    margin-top: 10px;
}

.inputbox {
    display: none;
}

.menu {
    padding-left: 22px;
}

.menu::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 2px rgb(66, 83, 112) solid;
    border-radius: 5px;
    content: '';
}

.inputbox[type="radio"] + .menu::after {
    border-radius: 50%;
}

.inputbox:checked+.menu::after {
    background: url('/assets/img/check.png') no-repeat center;
    background-size: contain;
    background-color: rgb(66, 83, 112);
}

.save_wrap {
    margin-top: 35px;
    border-top: #e0eaf7 1px solid;
    padding: 35px 20px 0;
    display: flex;
    justify-content: space-between;

}

.reset {
    width: 231px;
    height: 50px;
    background-color: #fff;
    color: #1f223d;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    padding: 0;
    font-family: IBM Plex Sans, 'Source Sans Pro';
}

.submit {
    width: 231px;
    height: 50px;
    background-color: #ff0000;
    color: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    padding: 0;
    font-family: IBM Plex Sans, 'Source Sans Pro';
}
